@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
.PageHeading    
{    
margin-top: 10px;    
margin-bottom: 10px;    
color :black !important;    
}
#card{
  position: relative;
  height: 100vh;
  width:100%;
  background-color: #f5f5f565;
}
body{
overflow: auto;
}
#button{
position: relative;
right: 0em;
bottom: 23em;
}
.PageHeading{
position: relative;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
font-size: 1.5em;
top:0em;
}
#EmployeeCard{
position: relative;
height: 30.5em;
top:9em;
width:70%;
left:15%;
background-color:#f7f8f7;
}
#formemp{
position: relative;
width: 40%;
Left:6.5%;
bottom:1em;
}
#formemp1{
position: relative;
width: 40%;
Left:54%;
bottom: 23.6em;
}
#AddEmpButton1{
position: relative;
top:1.7em; 
right: 1.4em;
}
#AddEmpButton2{
  position: relative;
  top:1.7em; 
  right: 0.4em;
  }
