@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
.PageHeading    
{    
margin-top: 10px;    
margin-bottom: 10px;    
color :black !important;    
}
#card{
  position: relative;
  height: 118vh;
  width:80%;
  left:9%;
}
body{
overflow: auto;
}
#button{
position: relative;
right: 0em;
bottom: 23em;
}
.PageHeading{
position: relative;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
top:0.5em;
}
#EmployeeCard{
position: relative;
height: 35em;
top:10.6em;
background-color:#f7f8f7;
}
#formemp{
position: relative;
width: 40%;
Left:6.5%;
top:0.5em;
}
#formemp1{
position: relative;
width: 40%;
Left:54%;
bottom: 22em;
}
#AddEmpButton{
position: relative;
top:4.7em; 
right: 0.8em;
}
