body{
  overflow-x: hidden;
}
.App {    
  text-align: center;   
  color :black; 
}   
h4{
  position: relative;
  top:-0.8em;
} 
h3{
  position: relative;
  bottom: 0.5em;
}
.navheader{   
  position: sticky;
  margin-top: 10px;    
  background-color: #d4d7da;
  width:100%;  
  font-weight: bold; 
}
label{
  position: relative;
  text-align: left;
}
#button{
  position: relative;
  right: 0em;
  bottom: 23em;
}
#formemp{
  position: relative;
  width: 40%;
  Left:7%;
  top:-1em;
}
#formemp1{
  position: relative;
  width: 40%;
  Left:55%;
  bottom: 27.9em;
}
.container{
  position: relative;
  top:4em;
}
#nav{
  position: fixed;
  top:5em;
}
#nav1{
  position: relative;
  top:0em;
}
.position-fixed{
  width:50%;
  left:25%;
}
.nav-item{
  position: relative;
  left:11em;
}
h1{
  position: relative;
  top:4em;
  left:2em;
}
#message{
  position: relative;
  top:4.5em;
  height:70vh;
}
#message1{
  position: relative;
  top:4.5em;
  min-height: 70vh;
  height:auto;
}

