@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
#edit{
    height: 100vh;
}
.EmployeeEditCard{
position: relative;
height:90vh;
}
#EmployeeEdit{
position: relative;
top:1.4em;
height:34em;
width:90%;
left:3em;
background-color:#f7f8f7;
}
.EmployeeEditPageHeading{
text-align: center;
top:0.5em;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}
#EditForm1{
position: relative;
width: 40%;
Left:6.5%;
top:1em;
}
#EditForm2{
position: relative;
width: 40%;
Left:54%;
bottom: 21.4em;
}
#EditEmpButton1{
position: relative;
top:5em;
right: 1.2em;
}
#EditEmpButton2{
    position: relative;
    top:5em;
    right: 0em;
}