#EducationCard{
    position: relative;
    width:70%;
    top:6em;
    left:15%;
    height: 80vh;
    background-color:#f7f8f7;
}
#EduCard{
    position: relative;
    width:80%;
    left:10%;
    top:0.5em;
    text-align: center;
    font-size: 1.5em;
}
#EduHeading{
    position: relative;
    font-size: 1.2em;
}
#EduCard1{
    position: relative;
    width:50%;
    left:-5%;
    top:1em;
}
#EduCard2{
    position: relative;
    width:50%;
    left:55%;
    bottom:11em;
}
#Educationsubmit{
    position: relative;
    left:-2%;
    bottom:9em;
}
#EducationFinish{
    position: relative;
    left:2%;
    bottom:9em;
}