#emp{
    height: 100vh;
}
#EmploymentCard{
position: relative;
width:68%;
top:3.5em;
left:15%;
height: 68vh;
background-color:#f7f8f7;
}
#EmpCard{
position: relative;
width:80%;
left:10%;
top:0.5em;
text-align: center;
font-size: 1.5em;
}
#EmpHeading{
position: relative;
font-size: 1.2em;
top:0em;
}
#EmpCard1{
position: relative;
width: 70%;
top:0em;
left:-5%;
}
#Empsubmit{
position: relative;
left:0%;
bottom:9em;
}
#EmpFinish{
position: relative;
left:2%;
bottom:9em;
}
#EmpSection1{
position: relative;
width:70%;top:1em;
}
#EmpSection2{
position: relative;
width:70%;
left:85%;
bottom:8em;
}
.Emphr-line {
width: 27%;
position: relative;
top:5em;
left:18.5em;
border-bottom: 2px solid #e91e63;
}
#Empline1{
position: relative;
left:13.5em;
top:5em;
}
#Empline2{
position: relative;
left:32em;
top:2.9em;
}
#Empline3{
position: relative;
left:50.5em;
top:0.8em;
}
.Emphr-line1 {
width: 27%;
position: relative;
Top:2.4em;
left:42em;
border-bottom: 2px solid #e91e63;
}