
#CardMessage{
position: relative;
height:65vh;
top:11.3em;
overflow-y: hidden;
}
#card1{
position: relative;
text-align: justify;
height:60vh;
width:46%;
left:2em;
top:1em;
}
.Employee-logo{
position: relative;
width:100%;
top:0.8em;
height:20em;
}
#card2{
position: relative;
text-align: justify;
height:60vh;
width:46%;
left:39em;
bottom:22.3em;
}
#WelcomeUser{
    position: relative;
    text-align: center;
    font-size: 1.5em;
    top:1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
#Welcome{
    position: relative;
    top:1em;
    text-align: center;
    padding:20px;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.ThanksAvatarWelcome{
    position: relative;
    width:25%;
    left:38%;
    top:1em;
}