#Homecard{
position: relative;
height: 100vh;
background-color: #c5cae965;
}
#CardMessage{
position: relative;
height:100vh;
top:11.3em;
overflow-y: hidden;
}
#card1{
position: relative;
text-align: justify;
height:55vh;
width:42%;
left:5em;
top:13em;
background-color:#f7f8f7;
}
#card3{
position: relative;
text-align: justify;
height:55vh;
width:42%;
left:5em;
top:9em;
background-color:#f7f8f7;
}
.Employee-logo{
position: relative;
width:100%;
top:0.3em;
height:20em;
}
.WelcomeOnboard{
position: relative;
width:110%;
top:0.3em;
right:1.5em;
height:20em;  
}
.Psiog{
position: relative;
width:100%;
top:0.3em;
height:20em;  
}
#card2{
position: relative;
text-align: justify;
height:55vh;
width:42%;
left:43em;
bottom:9.5em;
background-color:#f7f8f7;
}
#card4{
    position: relative;
    text-align: justify;
    height:55vh;
    width:42%;
    left:43em;
    bottom:13.6em;
    background-color:#f7f8f7;
    }
#WelcomeUser{
position: relative;
text-align: center;
font-size: 1.6em;
top:1.2em;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}
#Welcome{
position: relative;
top:0.5em;
text-align: center;
padding:20px;
font-size: 2em;
font-weight: bold;
font-family: 'Open Sans', sans-serif;
}
.WelcomeAvatar{
position: relative;
width:25%;
left:38%;
top:0.8em;
}
#StartFilling{
position: relative;
top:6em;
left:62%;
}
#Instructions{
position: relative;
top:7em;
left:83.4%;
}
#UserCardMessage{
position: relative;
height:89vh;
top:8em;
overflow-y: hidden;
}
#UserHomecard{
position: relative;
height: 100vh;
background-color: #c5cae965;
}
.box1{
    position:absolute;
    top:18%;
    left:88.8%;
    transform:translate(-50%,-50%);
    z-index: +1;
}
.box1 span{
    display: block;
    width:20px;
    height:20px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    margin:-10px;
    animation: animate 2s infinite;
}
.box1 span:nth-child(1)
{
    animation-delay: -0.2s;
    transform: rotate(45deg) translate(-20px,-20px);
}
.box1 span:nth-child(2)
{
    animation-delay: -0.4s;
    transform: rotate(45deg);
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
}