@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
#LoginCard{
    position: relative;
    height: 100vh;
    background-image: url('../src/Assets/BG.jpg');
    width:150%;
    background-repeat: no-repeat;
    right:5em;
}
#LoginCard1{
    position: relative;
    height: 80vh;
    top:4.3em;
    width:38%;
    left:8.5em;
}
.LoginImage{
    position: relative;
    width:140%;
    height:80vh;
    right:7em;
    bottom:1em;
}
#LoginCard2{
    position: relative;
    height: 80vh;
    bottom:26.9em;
    width:22%;
    left:52em;
}
#LoginContent{
    position: relative;
    top:3em;
    width:80%;
    left:2em;
}
#Login{
    position: relative;
    font-size: 2em;
    top:1.5em;
    text-align: center;
}
.Avatar{
    position: relative;
    width:20%;
    height: auto;
    left:40%;
    top:2.5em;
}
#SignIn{
    position: relative;
    top:3.5em;
    left:40%;
    font-family: 'Open Sans', sans-serif;
}
#ForgotPassword{
    position: relative;
    left:61%;
    bottom:2.5em;
}
