.PersonalInfoContainer{
    position: relative;
    top: 7em;
    height:156vh;
}
.PersonalInfoPageHeading
{
    position: relative;
    top: 0em;
    text-align: center;
}
#FormPersonalInfo{
    position: relative;
    width:45%;
    top:1em;
    left:1em;
}
#FormPersonalInfo1{
    position: relative;
    width:45%;
    bottom:18.3em;
    left:31em;
}
#PersonalInfoCard{
    position: relative;
    height:70vh;
    width:90%;
    left:3em;
}
#AddressInfoCard{
    position: relative;
    top:1em;
    height:70vh;
    left:3em;
    width:90%;
}
.AddressInfoPageHeading{
    position: relative;
    top: 0em;
    text-align: center;
}
#FormAddressInfo{
    position: relative;
    width:45%;
    top:0em;
    left:1em; 
}
#FormAddressInfo1{
    position: relative;
    width:45%;
    bottom:20.35em;
    left:31em; 
}
#PersonalButton{
    position: relative;
    top:26em;
}
#PermanentAddress{
    position: relative;
    text-align: center;
    top:1em;

}
#PresentAddress{
    position: relative;
    text-align: center;
    top:1em;

}