@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
.ViewCard{
position: relative;
height:293vh;
background-color:#FFFFFF;
}
#EmployeeTotalView{
position: relative;
top:1.4em;
height:275vh;
background-color: #9ba09e;
}

#EmployeeView{
position: relative;
top:4em;
width:90%;
height:32em;
left:5%;
background-color:#f7f8f7;
}
#EmployeePersonalView{
position: relative;
top:7em;
width:90%;
height:28em;
left:5%;
background-color:#f7f8f7;
}
#EmployeeAddressView{
position: relative;
top:10em;
width:90%;
height:30em;
left:5%;
background-color:#f7f8f7;
}
#ViewForm1{
position: relative;
width: 40%;
Left:6.5%;
top:1em;
}
#ViewForm2{
position: relative;
width: 40%;
Left:54%;
bottom: 24em;
}
#ViewForm3{
position: relative;
width: 40%;
Left:6.5%;
top:1em;
}
#ViewForm4{
position: relative;
width: 40%;
Left:54%;
bottom: 19em;
}
#ViewFormAddressInfo{
position: relative;
width:45%;
top:1.5em;
left:1.5em; 
}
#ViewFormAddressInfo1{
position: relative;
width:45%;
bottom:21em;
left:31em; 
}
#Back{
position: relative;
left:46.5%;
bottom:2.5em;
}
#EmpAvatar{
position: relative;
left:44%;
top:0.5em;
width:2em;
height: 2em;
}